input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  background: #f99696;
  margin-right: 4px;
  border-radius: 2px;
  background: linear-gradient(145deg, #b7e3ff, #d0d9e0);
  margin: 1em;
}